/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

@media (min-width: 600px) {
  .login_back {
    background-color: black;
    height: 100vh;
    width: 38%;
  }

  .display {
    display: flex;
  }

  .text {
    color: white;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 70px;
    line-height: 90vh;
  }

  .login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vh;
  }

  .form-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 35px;

  }

  .form-para {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .form-footer {
    text-align: center;
    font-size: 15px;
    margin-left: 69px;
  }

  .large-form {
    width: 150%;
    height: 300px;
  }

  .regis {
    color: #346BD4;
    margin-left: 3px;
  }

  .pass {
    color: #346BD4;
  }

  .signin {
    width: 200px;
  }

}

@media (max-width: 600px) {

  .login_back {
    background-color: black;
    height: auto;
    width: auto;
  }

  .text {
    color: white;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 40px;
    line-height: 30vh
  }

  .login_form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
  }

  .form-heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin-top: 10px;
  }

  .form-para {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    margin-bottom: 20px;
  }

  .form-footer {
    text-align: center;
    font-size: 15px;
    margin-left: 15px;
  }

  .regis {
    color: #346BD4;
  }

  .pass {
    color: #346BD4;
  }

  .signin {
    width: 150px;
  }

}